USE [master]
GO
/****** Object:  Database [Matriz_Prematricula]    Script Date: 21/11/2023 2:11:24 ******/
CREATE DATABASE [Matriz_Prematricula]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Matriz_Prematricula', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Matriz_Prematricula.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Matriz_Prematricula_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Matriz_Prematricula_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Matriz_Prematricula].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Matriz_Prematricula]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 21/11/2023 2:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[Apellido1] [nvarchar](255) NULL,
	[Apellido2] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[Cedula] [varchar](50) NULL,
	[Correo] [nvarchar](255) NULL,
	[EscuelaProcedencia] [nvarchar](255) NULL,
	[Porcentaje] [float] NULL,
	[Espanniol5] [float] NULL,
	[Matematica5] [float] NULL,
	[Ciencias5] [float] NULL,
	[EstudiosSociales5] [float] NULL,
	[Ingles5] [float] NULL,
	[Promedio5] [float] NULL,
	[Espanniol6] [float] NULL,
	[Matematica6] [float] NULL,
	[Ciencias6] [float] NULL,
	[EstudiosSociales6] [float] NULL,
	[Ingles6] [float] NULL,
	[Promedio6] [float] NULL,
	[PromedioTotalNotas] [float] NULL,
	[PorcentajeNotas] [float] NULL,
	[NotaConductaSexto] [float] NULL,
	[PorcentajeConducta] [float] NULL,
	[Sumatoria] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Notas] ([Apellido1], [Apellido2], [Nombre], [Cedula], [Correo], [EscuelaProcedencia], [Porcentaje], [Espanniol5], [Matematica5], [Ciencias5], [EstudiosSociales5], [Ingles5], [Promedio5], [Espanniol6], [Matematica6], [Ciencias6], [EstudiosSociales6], [Ingles6], [Promedio6], [PromedioTotalNotas], [PorcentajeNotas], [NotaConductaSexto], [PorcentajeConducta], [Sumatoria]) VALUES (N'Víquez', N'Ramirez', N'Nicole', N'209310665', N'dayramirez@gmail.com', N'Luis Felipe González', 50, 85, 73, 83, 91, 76, 81.6, 90, 67, 80, 95, 83, 83, 82.3, 32.92, 100, 10, 92.92)
GO
/****** Object:  StoredProcedure [dbo].[usp_SELECT_NOTAS_All]    Script Date: 21/11/2023 2:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SELECT_NOTAS_All]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Apellido1,
        Apellido2,
        [Nombre ],
        Cedula,
        Correo,
        [EscuelaProcedencia ],
        [Porcentaje ],
        Espanniol5,
        Matematica5,
        Ciencias5,
        EstudiosSociales5,
        Ingles5,
        [Promedio5 ],
        Espanniol6,
        Matematica6,
        Ciencias6,
        EstudiosSociales6,
        Ingles6,
        Promedio6,
        PromedioTotalNotas,
        [PorcentajeNotas ],
        NotaConductaSexto,
        [PorcentajeConducta ],
        [Sumatoria ]
    FROM Notas; -- Replace with the actual table name

    -- Add additional conditions or joins as needed

END
GO
USE [master]
GO
